.env
node_modules

lib/cache/*
lib/database/group/*
lib/database/jadibot/*
lib/database/season/*
lib/database/web/*
lib/database/*.json
lib/database/*.txt

log
logs

SESS_CORE/*
SESSION/*
WEB_SESS_CORE/*

media/user/bgprfl/*
media/user/imgpd/*
media/user/level/*